@page
@model CreateModel
@{
}

<section class="container-fluid">
    <h1>Bookings</h1>
    <article>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Booking.Start" class="control-label"></label>
                <input asp-for="Booking.Start" class="form-control"/>
                <span asp-validation-for="Booking.Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Slut" class="control-label"></label>
                <input asp-for="Booking.Slut" class="form-control"/>
                <span asp-validation-for="Booking.Slut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </article>
</section>